* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #c43232
}

p {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 0px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 30mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 44px 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.letter {
  padding: 0;
  background: linear-gradient(rgb(206, 206, 205), rgb(255, 0, 0, 0), rgb(255, 0, 0, 0), rgb(255, 0, 0, 0), rgb(206, 206, 205));
}

h1.logo {
  background-image: url('../img/logo.png');
  background-image: no-repeat;
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  padding: 44px 0;

  /*filter: drop-shadow(5px 5px 5px black);*/

  border-radius: 50%;
  box-shadow: 2px 2px 6px black;
}

.top-border {
  background-image: url('../img/top-image.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0px;
}

.bottom-border {
  background-image: url('../img/bottom-image.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
}